/* -------------------
     Fonts 
---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* -------------------
     Common Style 
---------------------*/
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
}
.container{
    max-width: 1200px;
    margin: 50px 130px;
    padding: 0 25px;
}
.top-button{
    outline: 0;
    border: 0;
    width: 196px;
    color: white;
    font-weight: 700;
    padding: 10px 24px;
    background-color: #E02C6D;
    border-radius: 41px;
}
.bottom-button{
    float: right;
    margin-top: 50px;
    margin-right: 120px;
    font-weight: 700;
    color: #E02C6D;
    text-decoration: none;  
}
.button{
    list-style: none;
}


/* -------------------
     Navigation Bar 
---------------------*/
nav{
    display: flex;
    justify-content: space-between;
    height: 87px;
    align-items: center;
}
.navigation{
    display: flex;
}
.laft-title h1{
    font-size: 24px;
}
.navigation li{
    list-style: none;
    margin: 15px;
}
.navigation li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 0px;
    color: black;
}

/* -------------------
     Top Part-1
---------------------*/
.top-banner{
    display: grid;
    grid-template-columns: 1fr 0fr;
    background-image: url(../images/Circle\ design.svg);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: 750px;
    
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-left h1{
    font-size: 52px;
    width: 700;
}
.banner-left p{
    font-size: 20px;
    line-height: 24px;
    margin: 16px 0;
    padding-right: 100px;
}
.fas{
    padding-left: 8px;
}
/* -------------------
     Top Part-2(Logos)
---------------------*/
hr{
    margin: 15px;
    border: 1px solid whitesmoke;
}
.logos img{
    padding-bottom: 15px;
    width: 8%;
    align-items: center;
    margin-left: 70px;
} 

/* -------------------
     Gallery
---------------------*/   

h2{
    margin: 60px 650px;
    padding-top: 35px;
    font-size: 21px;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-left: 120px;
}
.image{
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.gallery img{
    margin: 17px 10px;
    border: 4px solid white;
    border-radius: 5px;
}
.product-name{
    margin: 0%;
}
.name-price{
    font-size: 18px;
    padding-left: 14px;
}
.rating-details{
    padding-left: 14px
}
.fa-star{
    font-size: 12px;
    padding-left: 0px;
}
.rating-number{
    padding-left: 8px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}


/* -------------------
     Bottom Part
---------------------*/

.bottom-banner{
    display: grid;
    align-items: center;
    margin-top: 150px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}
.banner-right-2 h1{
    font-size: 50px;
}
.banner-right-2 p{
    font-size: 24px;
}
/* -------------------
     Footer Part
---------------------*/
footer{
    background-color: black;
    color: white;
    margin-top: 100px;
    height: 150px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.top-text{
    font-size: 25px;
    padding-left: 25px;
}
.bottom-text{
    padding-left: 60px;
    padding-top: 5px;
}
.social-icon{
    text-align: center;
    
}
.social-icon i{
    border: 10px solid rgb(82, 78, 78);
    border-radius: 50px;
    background-color: rgb(82, 78, 78);
}

/* -------------------
     Responsive
---------------------*/
/* -------------------
     Mobile Devise
---------------------*/

@media only screen and (max-width: 500px){

    nav{
        display: inline;
        justify-content: center; 
    }

    .navigation {
        
        display: flex;
        justify-content: center;
    }
    .top-banner{
        flex-direction: column-reverse;
    }
    .banner-left p{
        text-align: center;
        padding-left: 25px;
        padding-right: 15px;
    }

    .laft-title h1{
        font-size: 20px;
        margin-left: 43px;
        text-align: center;
        margin: 15px 43px;
    }
    .banner-left{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .banner-left h1 {
        font-size: 30px;
        text-align: center;
        
    }
    .top-button {
        text-align: center;

    }
    .container{
        flex-direction: column-reverse;
        margin-left: 5px;
        margin-right: 5px;
    }
    .top-banner, .gallery, .bottom-banner{
        grid-template-columns: 1fr;
    }
    .top-title{
        text-align: center;
        margin: 15px 15px;
    }
    .banner-right img{
       margin: 25 25px;
    }
    .logos img{
        justify-content: center;
        width: 10%;
        margin-bottom: 20px;
    }
    .container {
        margin-top: 50px;
        text-align: center;
    }
    .container img{
        
    }
    hr{
        display: none;
    }

    }
    /* -------------------
        Mobile Devise
    ---------------------*/